# Vs workspace files
*.vs

# binary files
build/

# Python
__pycache__/
*.py[cod]
.venv*/

# custom user files
*.user
CMakeUserPresets.json
.vscode/settings.json
.qtcreator/

# mac
.DS_Store

# codex
tmp/
